# Recordings
*.mp4

# Build outputs
_build/
*.dll
*.lib
*.exp
*.obj
*.pdb
*.ilk

# Snapshots (binarios)
snapshots/

# IDE
.vs/
*.user
*.suo

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Logs
*.log

installer_output/
dist/*.exe
dist/*.dll
dist/SimuConfig.exe
tools/SimuConfig/bin/
tools/SimuConfig/obj/Release/net8.0-windows/win-x86/
dist/*.zip
